/* h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    background-color:aqua ;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-size: 25px;
    font-weight: 900;
    border-style: solid;
    width: 350px;
    padding: 50px;  padding: 20px 40px;
    /* margin: 100px;
}
p{
    background-color: beige;
    color: black;
    font-style: italic;
    width: 350px;
    border-style: solid;
    margin: 100px;
    
    
}
#article{
    background-color: aqua;
    width: 350px;
    border-style: solid;
    margin: 100px;
}
.paraclass{
    color: brown;
    margin: 100px;
}
.bottam{
    
    
   

} */
 
#box{
    background-color: aqua;
}
#circle{
    background-color: blanchedalmond;
    border-radius: 50%;
}